@charset "UTF-8";
.vscode-body p[class|="caption"] {
  font-size: 0.9em;
  line-height: 1.55;
  text-indent: 0;
  margin: 1.67em auto;
  display: table;
}
.vscode-body p.caption-blockquote {
  inline-size: 100%;
}
.vscode-body p > img:is([alt^="図"], [alt^="イラスト"], [alt^="写真"], [alt^="fig" i], [alt^="illust" i], [alt^="photo" i]) {
  display: block;
  margin: 1.5em auto;
}
.vscode-body p.caption-img {
  margin: -1.11em auto 1.67em;
}
/*
.vscode-body p.caption-img + p > img:is([alt^="図"], [alt^="イラスト"], [alt^="写真"], [alt^="fig" i], [alt^="illust" i], [alt^="photo" i]) {
  margin: -1em auto 1.5em;
  max-height: auto;
}
*/
.vscode-body :is(video, table, pre, blockquote) {
  margin: 1.5em auto;
}
.vscode-body p[class|="caption"] + :is(video, pre, table, blockquote) {
  margin: -1em auto 1.5em;
}
.vscode-body :is(video, pre, table, blockquote) + p[class|="caption"] {
  margin: -1.11em auto 1.67em;
}
.vscode-body p.caption-blockquote + blockquote {
  text-align: start;
}
.vscode-body blockquote + p.caption-blockquote {
  text-align: end;
}

