.vscode-body p[class|="caption"] {
  font-size: 0.925em;
  line-height: 1.55;
  text-indent: 0;
  margin: 2em auto;
  inline-size: fit-content;
  max-inline-size: 100%;
}
.vscode-body p[class|="caption"] > span[class$="label"] {
  margin-inline-end: 0.25em;
}
.vscode-body :is(p:has(> img:only-child), video, audio, table, pre, blockquote) {
  margin-block: 2em;
}
/*
.vscode-body :is(video, table, pre, blockquote):has(+ p[class|="caption"]) {
  margin-block: 2em;
}
*/
.vscode-body p:has(> img:only-child) {
  text-align: center;
}
.vscode-body :is(video, audio, table, pre, blockquote) {
  margin-inline: auto;
}
.vscode-body p[class|="caption"] + :is(p:has(> img:only-child), video, audio, table, pre, blockquote) {
  margin-block-start: -1.25em;
  margin-block-end: 2em;
}
.vscode-body :is(p:has(> img:only-child), video, audio, table, pre, blockquote) + p[class|="caption"] {
  margin-block-start: -1.25em;
  margin-block-end: 2em;
}
.vscode-body p[class|="caption"] + :is(p:has(> img:only-child), video, audio, table, pre, blockquote) + p[class|="caption"] {
  margin-block-start: 2em;
}
.vscode-body p.caption-blockquote {
  inline-size: 100%;
}
.vscode-body p.caption-blockquote + blockquote {
  text-align: start;
}
.vscode-body blockquote + p.caption-blockquote {
  text-align: end;
}
